<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Book Face</a>
</nav>

<h1>{{ Title }} </h1>
<h4>{{ subtitle }} </h4>

  <table class="u-full-width">
                    <thead>
                        <tr>
                            <th>{{ date }} </th>
                            <th>{{ price }} </th>
                            <th>{{ percentchange }} </th>
                        </tr>
                    </thead>
                    
                    <tbody>
                             {{#each yeardata}}
                        <tr>
                            <td>{{ this.year }}</td>
                            <td>{{ this.sats }}</td>
                            <td>{{ this.percent }}</td>
                            {{/each}}
                        </tr>
                    </tbody>
                                        

                </table>


<div class="posts">
    <div class="row justify-content-center">
        <div class="col-lg-7" style="margin-top: 50px;">
            <div class="card">

                <img src="{{post.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Posted by {{post.author}}</h5>

                    <ul class="list-group">
                        <li class="list-group-item">{{ post.comments}} </li>
                        <li class="list-group-item">This is suppose to be a comment</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>